<div class="row tk-logo">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-offset-2 col-xs-8">
                <img class="image-responsive center-block" src="{{ asset('img/timekipr-logo.png') }}" alt="logo timekipr">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p class="tk-logo-text text-center">time<span class="tk-text-reverse">kipr</span></p>
            </div>
        </div>
    </div>
</div>