<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <title>{% block pageTitle %}timekipr{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '@bootstrap_css' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts '@jquery' '@bootstrap_js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
