{% extends '::layout.html.twig' %}

{% block contentTitle %}
    {{ 'message.welcome'|trans }}
{% endblock %}

{% block content %}
    {# todo create nice welcome page with informations about the app #}
    <p>in construction</p>
    <a href="{{ path('time') }}">{{ 'action.go-to-application'|trans }}</a>
{% endblock %}
