{% extends '::layout.html.twig' %}

{% block contentTitle %}
    {{ 'timekipr.record-worktime'|trans }}
{% endblock %}

{% block content %}
    {# todo create content #}
    <p>in construction</p>
{% endblock %}
