{% extends '::base.html.twig' %}

{% block body %}
    <header class="row">
        <div class="col-xs-4 col-sm-2 col-md-offset-2 col-md-2">
            <a class="tk-logo-header" href="{{ path('app') }}">
                {% include ':snippets:logo.html.twig' %}
            </a>
        </div>
        <div class="col-xs-8 col-sm-10 col-md-6 tk-header-title">
            <h1>{% spaceless %}
                    {% block pageTitle %}
                        timekipr
                    {% endblock %}
                {% endspaceless %}</h1>
        </div>
    </header>

    <hr>

    <div class="row">
        {% block pageContent %}
            <div class="col-xs-offset-2 col-xs-10">
                {% block contentContainer %}
                    <div class="tk-content">

                        <h2>{% spaceless %}
                                {% block contentTitle %}
                                    {{ 'timekipr.welcome'|trans }}
                                {% endblock %}
                            {% endspaceless %}</h2>


                        {% block content %}

                        {% endblock %}

                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>



    <footer>
        {# todo create footer #}
    </footer>

{% endblock %}
