{% extends ":admin:layout_admin.html.twig" %}

{% block contentTitle %}
    {{ 'timekipr.manage-employee'|trans }}
{% endblock %}

{% block content %}
    {# todo add content #}
    <p>in construction</p>
{% endblock %}

